main section.my_side-bar{
    color: white;
}

main section.my_side-bar i{
    font-size: 1rem;
}

header div.col-10 input.form-control{
    background-color: #e5e5e5;
    padding-left: 1.7rem;
}

table button i{
    color: #6c757d;
    border: 1px solid #6c757d;
    padding: .3rem;
    border-radius: .3rem;
}

.boolean{
    font-size: 2rem;
}

.my_side-bar{
    width: 60px;
    height: 100vh;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.my_content{
    width: calc(100% - 60px);
    height: 100vh;
}

.my_upper-section{
    width: 100%;
    color: white;
    background-color: #1b72e8;
}

.my_table{
    width: 100%;
}

.my_table-border{
    border: 1px solid lightgrey;
    border-radius: .2rem;
}

.my_logo-mobile{
    max-width: 50px;
}

.fa-magnifying-glass{
    position: relative;
    top: 10px;
    left: 20px;
}

.fa-square-plus{
    font-size: 2rem;
}

.fa-bell{
    color: #ff8f00;
}

.my_button{
    background-color: #165bba;
    border: none;
    color: white;
    padding: .01rem .5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 2rem;
}

.my_table-title{
    background-color: #f7f7f7;
    border-bottom: 1px solid lightgrey;
}

.my_table-button{
    height: 20px;
    padding: .2rem;
    font-size: .8rem;
}

.my_width{
    width: 30px;
}

.my_border-bottom p{
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
}